@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* input webkit override default browser behaviour which caused background colour change */
@layer base {
    h1 {
        @apply font-bold mt-8 mb-6 sm:text-2xl text-xl
    }
    h2 {
        @apply font-bold my-3 text-lg
    }
    h3 {
        @apply font-bold my-2 text-sm
    }

    input:-webkit-autofill,
    input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
    }

}
